# Исключить виртуальное окружение
venv/

# Исключить файлы IDE
.idea/
.vscode/

# Исключить бинарные файлы
*.pyc
*.pyo
*.exe

# Исключить временные файлы
*.log
*.tmp

# Исключить папку node_modules
node_modules/

# Исключить файлы конфигурации пользователя
*.env

# Исключить файлы с результатами выполнения
results/
output/

# Исключить файлы с изображениями
images/